Importar las librerias necesarias para realizar el análisis exploratorio de datos.

In [1]:
import pandas as pd

Leer los datos

In [2]:
df = pd.read_csv('crime_state.csv')

## ANALISIS EXPLORATORIO DE DATOS

### Visión General

Comprender las dimensiones del dataset visaulizando las primeras 5 filas.

In [3]:
df.head(5)

        State  Population    Crimes  Robberies
0     Alabama     2499649   15229.0   190380.0
1      Alaska      475023    4697.0    41622.0
2     Arizona     5232268   23856.0   348682.0
3    Arkansas     1729204   12044.0   146255.0
4  California    32747075  145205.0  1731510.0

¿Qué tipo de datos contiene cada columna?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       51 non-null     object
 1   Population  51 non-null     int64
 2   Crimes      51 non-null     float64
 3   Robberies   51 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ KB

¿Cuantas dimensiones de cada tipo de dato tenemos en el dataframe?

In [5]:
df.dtypes.value_counts()

float64    2
object     1
int64      1
dtype: int64

### Valores Faltantes

Analicemos los valores nulos ¿Cuántos valores nulos tenemos en el total en el conjunto de datos?

In [6]:
df.isnull().sum()

State         0
Population    0
Crimes        0
Robberies     0
dtype: int64

### Valores duplicados

Analizamos las coincidencias teniendo en cuenta determinadas columnas.

In [7]:
df.duplicated().sum()

0

Obtengo mas informacón de variables numericas

In [9]:
df.describe()

         Population         Crimes     Robberies
count  5.100000e+01      51.000000  5.100000e+01
mean   4.070028e+06   18880.627451  2.290899e+05
std    5.580221e+06   25614.143704  2.973539e+05
min    2.270000e+05     336.000000  8.914000e+03
25%    1.006912e+06    4028.000000  6.225300e+04
50%    2.499649e+06   11618.000000  1.504020e+05
75%    3.876434e+06   20539.500000  2.648770e+05
max    3.274708e+07  145205.000000  1.731510e+06