In [73]:
import pandas as pd

In [74]:
df_1  = pd.read_csv('Alabama_2016.csv')
df_2  = pd.read_csv('Alaska_2016.csv')
df_3  = pd.read_csv('Arizona_2016.csv')
df_4  = pd.read_csv('Arkansas_2016.csv')
df_5  = pd.read_csv('California_2016.csv')
df_6  = pd.read_csv('Colorado_2016.csv')
df_7  = pd.read_csv('Columbia_2016.csv')
df_8  = pd.read_csv('Connecticut_2016.csv')
df_9  = pd.read_csv('Delaware_2016.csv')
df_10 = pd.read_csv('District_of_Columbia_2016.csv')
df_11 = pd.read_csv('Florida_2016.csv')
df_12 = pd.read_csv('Georgia_2016.csv')
df_13 = pd.read_csv('Hawaii_2016.csv')
df_14 = pd.read_csv('Idaho_2016.csv')
df_15 = pd.read_csv('Illinois_2016.csv')
df_16 = pd.read_csv('Iowa_2016.csv')
df_17 = pd.read_csv('Kansas_2016.csv')
df_18 = pd.read_csv('Kentucky_2016.csv')
df_19 = pd.read_csv('Louisiana_2016.csv')
df_20 = pd.read_csv('Maine_2016.csv')
df_21 = pd.read_csv('Maryland_2016.csv')
df_22 = pd.read_csv('Massachusetts_2016.csv')
df_23 = pd.read_csv('Michigan_2016.csv')
df_24 = pd.read_csv('Minnesota_2016.csv')
df_25 = pd.read_csv('Mississippi_2016.csv')
df_26 = pd.read_csv('Missouri_2016.csv')
df_27 = pd.read_csv('Montana_2016.csv')
df_28 = pd.read_csv('Nebraska_2016.csv')
df_29 = pd.read_csv('Nevada_2016.csv')
df_30 = pd.read_csv('New_Hampshire_2016.csv')
df_31 = pd.read_csv('New_Jersey_2016.csv')
df_32 = pd.read_csv('New_Mexico_2016.csv')
df_33 = pd.read_csv('New_York_2016.csv')
df_34 = pd.read_csv('North_Carolina_2016.csv')
df_35 = pd.read_csv('North_Dakota_2016.csv')
df_36 = pd.read_csv('Ohio_2016.csv')
df_37 = pd.read_csv('Oklahoma_2016.csv')
df_38 = pd.read_csv('Oregon_2016.csv')
df_39 = pd.read_csv('Pennsyvlania_2016.csv')
df_40 = pd.read_csv('Rhode_Island_2016.csv')
df_41 = pd.read_csv('South_Carolina_2016.csv')
df_42 = pd.read_csv('South_Dakota_2016.csv')
df_43 = pd.read_csv('Tennessee_2016.csv')
df_44 = pd.read_csv('Texas_2016.csv')
df_45 = pd.read_csv('Utah_2016.csv')
df_46 = pd.read_csv('Vermont_2016.csv')
df_47 = pd.read_csv('Virginia_2016.csv')
df_48 = pd.read_csv('Washington_2016.csv')
df_49 = pd.read_csv('West_Virginia_2016.csv')
df_50 = pd.read_csv('Wisconsin_2016.csv')
df_51 = pd.read_csv('Wyoming_2016.csv')

In [75]:
df_1['State'] = 'Alabama'
df_2['State'] = 'Alaska'
df_3['State'] = 'Arizona'
df_4['State'] = 'Arkansas'
df_5['State'] = 'California'
df_6['State'] = 'Colorado'
df_7['State'] = 'Columbia'
df_8['State'] = 'Connecticut'
df_9['State'] = 'Delaware'
df_10['State'] = 'District_of_Columbia'
df_11['State'] = 'Florida'
df_12['State'] = 'Georgia'
df_13['State'] = 'Hawaii'
df_14['State'] = 'Idaho'
df_15['State'] = 'Illinois'
df_16['State'] = 'Iowa'
df_17['State'] = 'Kansas'
df_18['State'] = 'Kentucky'
df_19['State'] = 'Louisiana'
df_20['State'] = 'Maine'
df_21['State'] = 'Maryland'
df_22['State'] = 'Massachusetts'
df_23['State'] = 'Michigan'
df_24['State'] = 'Minnesota'
df_25['State'] = 'Mississippi'
df_26['State'] = 'Missouri'
df_27['State'] = 'Montana'
df_28['State'] = 'Nebraska'
df_29['State'] = 'Nevada'
df_30['State'] = 'New_Hampshire'
df_31['State'] = 'New_Jersey'
df_32['State'] = 'New_Mexico'
df_33['State'] = 'New_York'
df_34['State'] = 'North_Carolina'
df_35['State'] = 'North_Dakota'
df_36['State'] = 'Ohio'
df_37['State'] = 'Oklahoma'
df_38['State'] = 'Oregon'
df_39['State'] = 'Pennsyvlania'
df_40['State'] = 'Rhode_Island'
df_41['State'] = 'South_Carolina'
df_42['State'] = 'South_Dakota'
df_43['State'] = 'Tennessee'
df_44['State'] = 'Texas'
df_45['State'] = 'Utah'
df_46['State'] = 'Vermont'
df_47['State'] = 'Virginia'
df_48['State'] = 'Washington'
df_49['State'] = 'West_Virginia'
df_50['State'] = 'Wisconsin'
df_51['State'] = 'Wyoming'

In [76]:
df = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21,df_22,df_23,df_24,df_25,df_26,df_27,df_28,df_29,df_30,df_31,df_32,df_33,df_34,df_35,df_36,df_37,df_38,df_39,df_40,df_41,df_42,df_43,df_44,df_45,df_46,df_47,df_48,df_49,df_50,df_51], ignore_index=True)

In [77]:
def to_num(number):
    if type(number) == str:
        num = number.replace(',','')
        numb = int(num)
    else:
        numb = number
    return numb

In [78]:
col = ['Population', 'Violent crime','Murder and nonnegligent manslaughter', 'Rape (revised definition)1', 'Robbery', 'Aggravated assault','Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft','Arson3']
for i in col:
    df[i] = df[i].apply(lambda x: to_num(x))

In [79]:
df = df.fillna(0)

In [80]:
df.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Columbia', 'Connecticut', 'Delaware',
       'District_of_Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New_Hampshire', 'New_Jersey', 'New_Mexico', 'New_York',
       'North_Carolina', 'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsyvlania', 'Rhode_Island', 'South_Carolina', 'South_Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West_Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [81]:
df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson3,Unnamed: 13,State
0,Abbeville,2608,11.0,0,1.0,0.0,0.0,10.0,51.0,12.0,34.0,5.0,0.0,0.0,Alabama
1,Adamsville,4377,19.0,0,0.0,0.0,10.0,9.0,250.0,33.0,201.0,16.0,0.0,0.0,Alabama
2,Addison,738,1.0,0,0.0,0.0,0.0,1.0,14.0,1.0,11.0,2.0,0.0,0.0,Alabama
3,Alabaster,33040,97.0,1,2.0,0.0,2.0,92.0,488.0,58.0,411.0,19.0,0.0,0.0,Alabama
4,Albertville,21525,29.0,0,5.0,0.0,10.0,14.0,721.0,190.0,462.0,69.0,0.0,0.0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,Sundance,1289,1.0,0,1.0,0.0,0.0,0.0,14.0,0.0,14.0,0.0,0.0,0.0,Wyoming
9477,Thermopolis,2967,7.0,1,0.0,0.0,3.0,3.0,32.0,3.0,28.0,1.0,0.0,0.0,Wyoming
9478,Torrington,6676,25.0,0,0.0,0.0,0.0,25.0,99.0,19.0,77.0,3.0,0.0,0.0,Wyoming
9479,Wheatland,3665,8.0,0,0.0,0.0,0.0,8.0,63.0,13.0,47.0,3.0,0.0,0.0,Wyoming
9480,Worland,5348,6.0,0,3.0,0.0,0.0,3.0,62.0,18.0,43.0,1.0,0.0,0.0,Wyoming

In [82]:
#Se omitio la columna 
df['Crimes'] = df['Violent crime'] + df['Murder and nonnegligent manslaughter']+ df['Rape (revised definition)1'] + df['Rape (legacy definition)2'] + df['Robbery'] + df['Aggravated assault'] + df['Property crime'] + df['Burglary'] + df['Larceny-theft'] + df['Motor vehicle theft']

In [83]:
df['CrimePerPopulation'] = df['Crimes'] / df['Population']

In [84]:
df = df.drop(['Violent crime','Murder and nonnegligent manslaughter', 'Rape (revised definition)1','Rape (legacy definition)2', 'Robbery', 'Aggravated assault','Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft','Arson3','Unnamed: 13'], axis=1)

In [85]:
df

             City  Population    State  Crimes  CrimePerPopulation
0       Abbeville        2608  Alabama   124.0            0.047546
1      Adamsville        4377  Alabama   538.0            0.122915
2         Addison         738  Alabama    30.0            0.040650
3       Alabaster       33040  Alabama  1170.0            0.035412
4     Albertville       21525  Alabama  1500.0            0.069686
...           ...         ...      ...     ...                 ...
9476     Sundance        1289  Wyoming    30.0            0.023274
9477  Thermopolis        2967  Wyoming    78.0            0.026289
9478   Torrington        6676  Wyoming   248.0            0.037148
9479    Wheatland        3665  Wyoming   142.0            0.038745
9480      Worland        5348  Wyoming   136.0            0.025430

[9481 rows x 5 columns]

In [86]:
group = df[['State','Population','Crimes']]
a = group.groupby('State')['Population'].sum()
b = group.groupby('State')['Crimes'].sum()
c = pd.merge(a, b, right_index = True,left_index = True)
c['CrimePerPopulation'] = c['Crimes'] / c['Population']
c

                      Population     Crimes  CrimePerPopulation
State
Alabama                  2499649   220959.0            0.088396
Alaska                    475023    51016.0            0.107397
Arizona                  5232268   396394.0            0.075759
Arkansas                 1729204   170347.0            0.098512
California              32747075  2021920.0            0.061744
Colorado                 3671826   274996.0            0.074894
Columbia                  681170    78744.0            0.115601
Connecticut              2999155   135592.0            0.045210
Delaware                  262570    25260.0            0.096203
District_of_Columbia      681170    78744.0            0.115601
Florida                  9885328   773990.0            0.078297
Georgia                  3726113   333616.0            0.089535
Hawaii                    995572    67846.0            0.068148
Idaho                     998921    50854.0            0.050909
Illinois                10243355   561004.0            0.054768
Iowa                     1949689   125062.0            0.064145
Kansas                   1726035   122725.0            0.071102
Kentucky                 2401154   176298.0            0.073422
Louisiana                1909852   207356.0            0.108572
Maine                     843135    36630.0            0.043445
Maryland                 1300377   126022.0            0.096912
Massachusetts            6558846   247252.0            0.037697
Michigan                 6473326   364338.0            0.056283
Minnesota                3843399   220970.0            0.057493
Mississippi               859499    77360.0            0.090006
Missouri                 3750564   325135.0            0.086690
Montana                   472883    41532.0            0.087827
Nebraska                 1244990    84410.0            0.067800
Nevada                   2546372   175360.0            0.068867
New_Hampshire            1229123    42424.0            0.034516
New_Jersey               8580636   293112.0            0.034160
New_Mexico               1353474   158484.0            0.117094
New_York                14214511   606928.0            0.042698
North_Carolina           3428540   287840.0            0.083954
North_Dakota              514342    30310.0            0.058930
Ohio                     6925776   495856.0            0.071596
Oklahoma                 2855546   230024.0            0.080553
Oregon                   2560968   200438.0            0.078266
Pennsyvlania             9179018   421885.0            0.045962
Rhode_Island             1014904    33560.0            0.033067
South_Carolina           1545608   152130.0            0.098427
South_Dakota              504378    31770.0            0.062988
Tennessee                3832161   356218.0            0.092955
Texas                   19795935  1439393.0            0.072712
Utah                     2206043   147934.0            0.067059
Vermont                   227000     9586.0            0.042229
Virginia                 2818918   169038.0            0.059966
Washington               4627044   439440.0            0.094972
West_Virginia             452028    36446.0            0.080628
Wisconsin                3909470   221940.0            0.056770
Wyoming                   368617    19722.0            0.053503

In [87]:
c.to_csv('cr_S.csv', index = False)

In [88]:
crime_state = pd.read_csv('cr_S.csv')

In [90]:
state = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Columbia','Connecticut','Delaware','District_of_Columbia','Florida','Georgia','Hawaii','Idaho','Illinois','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New_Hampshire','New_Jersey','New_Mexico','New_York','North_Carolina','North_Dakota','Ohio','Oklahoma','Oregon','Pennsyvlania','Rhode_Island','South_Carolina','South_Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West_Virginia','Wisconsin','Wyoming']
crime_state.insert(loc = 0,column = 'State',value = state)
crime_state['State'] = crime_state['State'].apply(lambda x: x.replace('_',' '))

In [91]:
crime_state

                   State  Population     Crimes  CrimePerPopulation
0                Alabama     2499649   220959.0            0.088396
1                 Alaska      475023    51016.0            0.107397
2                Arizona     5232268   396394.0            0.075759
3               Arkansas     1729204   170347.0            0.098512
4             California    32747075  2021920.0            0.061744
5               Colorado     3671826   274996.0            0.074894
6               Columbia      681170    78744.0            0.115601
7            Connecticut     2999155   135592.0            0.045210
8               Delaware      262570    25260.0            0.096203
9   District of Columbia      681170    78744.0            0.115601
10               Florida     9885328   773990.0            0.078297
11               Georgia     3726113   333616.0            0.089535
12                Hawaii      995572    67846.0            0.068148
13                 Idaho      998921    50854.0            0.050909
14              Illinois    10243355   561004.0            0.054768
15                  Iowa     1949689   125062.0            0.064145
16                Kansas     1726035   122725.0            0.071102
17              Kentucky     2401154   176298.0            0.073422
18             Louisiana     1909852   207356.0            0.108572
19                 Maine      843135    36630.0            0.043445
20              Maryland     1300377   126022.0            0.096912
21         Massachusetts     6558846   247252.0            0.037697
22              Michigan     6473326   364338.0            0.056283
23             Minnesota     3843399   220970.0            0.057493
24           Mississippi      859499    77360.0            0.090006
25              Missouri     3750564   325135.0            0.086690
26               Montana      472883    41532.0            0.087827
27              Nebraska     1244990    84410.0            0.067800
28                Nevada     2546372   175360.0            0.068867
29         New Hampshire     1229123    42424.0            0.034516
30            New Jersey     8580636   293112.0            0.034160
31            New Mexico     1353474   158484.0            0.117094
32              New York    14214511   606928.0            0.042698
33        North Carolina     3428540   287840.0            0.083954
34          North Dakota      514342    30310.0            0.058930
35                  Ohio     6925776   495856.0            0.071596
36              Oklahoma     2855546   230024.0            0.080553
37                Oregon     2560968   200438.0            0.078266
38          Pennsyvlania     9179018   421885.0            0.045962
39          Rhode Island     1014904    33560.0            0.033067
40        South Carolina     1545608   152130.0            0.098427
41          South Dakota      504378    31770.0            0.062988
42             Tennessee     3832161   356218.0            0.092955
43                 Texas    19795935  1439393.0            0.072712
44                  Utah     2206043   147934.0            0.067059
45               Vermont      227000     9586.0            0.042229
46              Virginia     2818918   169038.0            0.059966
47            Washington     4627044   439440.0            0.094972
48         West Virginia      452028    36446.0            0.080628
49             Wisconsin     3909470   221940.0            0.056770
50               Wyoming      368617    19722.0            0.053503

In [92]:
crime_state.to_csv('crime_state.csv', index = False)